{% extends 'base.html' %}

 {% block content %}  
 <h3 class="text-center">Todolist {{nama}}</h3>
 <div class="container">
    <div class="row g-3">
        {% for each in todolist %}
        <div class="col-12 col-sm-6 col-lg-4 py-3">
          <div class="bg-image hover-overlay">
            <div class="card-group">
              <div class="card card-primary text-center">
                <h5 class="card-header">{{each.title}}</h5>
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/xXX4S2Q/to-do-list-2.png" alt="to-do-list-2" border="0" width="200" height="200"></a>
                <div class="card-body">
                  <h5 class="card-title">{{each.description}}</h5>
                  <p class="card-text">{{each.date}}</p>
                  {% if each.is_finished %}
                    <p class="text-center">Status : Sudah Selesai!</p>
                  {% else %}
                    <p class="text-center">Status : Belum Selesai!</p>
                  {% endif %}
                  <a href="{% url 'todolist:hapus_task' each.id %}" class="btn btn-danger">Hapus</a>
                  <a href="{% url 'todolist:ganti_status' each.id %}" class="btn btn-primary">Ganti</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="{% url 'todolist:create_more_task' %}" class="btn btn-primary">Buat Task</a>
        <a href="{% url 'todolist:logout' %}" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
{% endblock content %}