body{
    background-color: aliceblue;
}

.card-group .card-primary:hover {
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    z-index: 100;
  }
.card-group .card-primary:hover .card-title{
    color: #4e22d0;
}
.modal-backdrop
{
    opacity:0.5 !important;
}